gal :
    type : Sersic
    n : 1
    half_light_radius : 15
    flux : 10000
    flux_untruncated : True
    ellip : 
        type : QBeta 
        q : 0.05
        beta : 
            type : Degrees 
            theta : 0
    gsparams: 
        kvalue_accuracy : 1.e-8
        maxk_threshold : 1.1e-4

image : 
    pixel_scale : 1 # arcsec / pixel
    sky_level : 0 # ADU / arcsec^2
    random_seed : 3125
    nproc : 3
    type : Scattered
    xsize : 201 # pixel
    ysize : 201 # pixel
    stamp_size : 201 # pixel
    nobjects : 1
    image_pos :
        type : XY
        x : 101
        y : 101

output :
    file_name : galsim.fits
    nproc : 3
    type : Fits

