psf :
    type : InterpolatedImage
    image : "default.psf.fits"
    scale : 1

gal :
    type : Sersic
    n : 0.5
    half_light_radius : 15
    flux : 10000
    flux_untruncated : True
    ellip : 
        type : QBeta 
        q : 0.05
        beta : 
            type : Degrees 
            theta : 45
    gsparams: 
        kvalue_accuracy : 1.e-5
        maxk_threshold : 1.5e-1
        maximum_fft_size : 16384

image : 
    pixel_scale : 1 # arcsec / pixel
    sky_level : 0 # ADU / arcsec^2
    random_seed : 3125
    nproc : 3
    type : Scattered
    xsize : 301 # pixel
    ysize : 301 # pixel
    stamp_size : 301 # pixel
    nobjects : 1
    image_pos :
        type : XY
        x : 151
        y : 151

output :
    file_name : galsim.fits
    nproc : 3
    type : Fits

